AccrualApp/obj/Debug/netcoreapp3.1/AccrualApp.csprojAssembly
AccrualApp/obj/Debug/netcoreapp3.1/AccrualApp.dll
AccrualApp/obj/Debug/netcoreapp3.1/AccrualApp.pdb
/.vscode
/.vs
/AccrualApp/appsettings.json
/AccrualApp/ZipFiles/*
/AccrualApp/bin 
/AccrualApp/obj   